@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

*{
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:rgb(93, 36, 103);
}

button {
  border: 1px solid rgb(206, 139, 233);
  border-radius: 5px;
  background-color: rgba(215, 184, 210, 0.2);
  color: rgb(190, 111, 214);
  text-align: center;
  padding: 5px;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(93, 36, 103);
}

#tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

:checked + label {
  text-decoration: line-through;
  color: rgb(93, 36, 103);
}